<div>
  <h3>管理</h3>
  <ul>
    <li>
      <%= link_to (t 'Performance_indicator'),indicators_path %>
    </li>
    <li>
      <%= link_to (t 'KPI_patterns'),indicators_path %>
    </li>
    <li>
      <%= link_to (t 'Calculation_periods'),indicators_path %>
    </li>
    <li>
      <%= link_to (t 'Through_indicators'),indicators_path %>
    </li>
    <li>
      <%= link_to (t 'Surcharges'),indicators_path %>
    </li>
  </ul>
  <h3>报告</h3>
  <ul>
    <li>
      <%= link_to (t 'Salary_report'),indicators_path %>
    </li>
    <li>
      <%= link_to (t 'Effectiveness_shift_report'),indicators_path %>
    </li>
    <li>
      <%= link_to (t 'Unmotivated_employees'),indicators_path %>
    </li>
  </ul>
  <h3>分析</h3>
  <ul>
    <li>
      <%= link_to (t 'Salary_analytics'),indicators_path %>
    </li>
  </ul>
</div>